
   * {
    text-align: center;
    
  }
*body {
            
    /* background-color: rgb(94, 6, 182); */
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #1cc470;
}
#quote {
  
    font-size: 24px;
    margin-bottom: 20px;
    /* background-color: rgb(69, 2, 100); */
    background-color: rgb( 255, 131, 108);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

.container {
    /* margin: 10px auto;
    width:90%;
    max-width: 400px;
    background-color: #3cff00;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); */
    font-size: 24px;
    margin-bottom: 20px;
    background-color: rgb(8, 142, 196);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(167,230,255);
}
.container p {
    font-size: 15px;
    line-height: 1.6;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.link-box {
    background-color: #6AFF1A;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration:none;
    font-size: 15px;
    color: rgb(2, 2, 2) !important;;
}
.link-box:hover {
    background-color: rgb(255, 28, 108);
}
#quote:hover {
    background-color: rgb(255, 28, 108);
}
.container:hover {
    background-color: rgb(255, 28, 108);
}